In [1]:
import os
import pandas as pd
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas
from dotenv import load_dotenv

In [2]:
load_dotenv()

# --- 1. SET UP YOUR SNOWFLAKE CREDENTIALS ---
conn = snowflake.connector.connect(
    user=os.getenv('SNOWFLAKE_USER'),
    password=os.getenv('SNOWFLAKE_PASSWORD'),
    account=os.getenv('SNOWFLAKE_ACCOUNT'),
    warehouse=os.getenv('SNOWFLAKE_WAREHOUSE'),
    database=os.getenv('SNOWFLAKE_DATABASE'),
    schema=os.getenv('SNOWFLAKE_SCHEMA'),
    role=os.getenv('SNOWFLAKE_ROLE')
)

# if this column is null, does it break or bias any analysis I'm planning?

In [8]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(order_id) AS order_id_present,
    COUNT(customer_id) AS customer_id_present,
    ROUND(100.0 * COUNT(customer_id) / COUNT(*), 2) AS customer_id_pct,
    COUNT(approval_date) AS approval_date_present,
    COUNT(shipped_date) AS shipped_date_present,
    COUNT(delivered_date) AS delivered_date_present,
    COUNT(estimated_delivery_date) AS est_delivery_present,
    COUNT(unit_price) AS unit_price_present,
    COUNT(item_weight_kg) AS item_weight_kg_present,
    COUNT(order_date) AS order_date_present,
    COUNT(carrier_id) AS carrier_present,
    COUNT(warehouse_origin) AS warehouse_origin_present,
    COUNT(num_items) AS num_items_present,
    COUNT(shipped_cost) AS shipped_cost_present,
    COUNT(order_channel) AS order_channel_present,
FROM sales_raw."01_ORDERS";
"""

df = pd.read_sql(query, conn)
display(df)


query = """
SELECT
    COUNT(delivered_date) AS delivered_date_present,
    COUNT(delivered_date) WHERE order_status is not null,
FROM sales_raw."02_ORDER_ITEMS";
"""

df = pd.read_sql(query, conn)
display(df)

C:\Users\frase\AppData\Local\Temp\ipykernel_38508\975303537.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,TOTAL_ROWS,CUSTOMER_ID_PRESENT,CUSTOMER_ID_PCT,APPROVAL_DATE_PRESENT,SHIPPED_DATE_PRESENT,DELIVERED_DATE_PRESENT,EST_DELIVERY_PRESENT,ORDER_STATUS_PRESENT
0,15000,14707,98.05,14625,14321,14009,14625,15000

In [12]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(order_item_id) AS order_item_id_present,
    COUNT(order_id) AS order_id_present,
    ROUND(100.0 * COUNT(order_id) / COUNT(*), 2) AS order_id_pct,
    COUNT(customer_id) AS customer_id_present,
    ROUND(100.0 * COUNT(customer_id) / COUNT(*), 2) AS customer_id_pct,
    COUNT(product_id) AS product_id_present,
    ROUND(100.0 * COUNT(product_id) / COUNT(*), 2) AS product_id_pct,
    COUNT(seller_id) AS seller_id_present,
    ROUND(100.0 * COUNT(seller_id) / COUNT(*), 2) AS seller_id_pct,
    COUNT(quantity) AS quantity_present,
    COUNT(unit_price) AS unit_price_present,
    COUNT(item_weight_kg) AS item_weight_kg_present,
FROM sales_raw."02_ORDER_ITEMS";
"""

df = pd.read_sql(query, conn)
display(df)

C:\Users\frase\AppData\Local\Temp\ipykernel_38508\615050212.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,TOTAL_ROWS,UNIT_PRICE_PRESENT,ORDER_ID_PRESENT,ORDER_ID_PCT,PRODUCT_ID_PRESENT,PRODUCT_ID_PCT,SELLER_ID_PRESENT,SELLER_ID_PCT,UNIT_PRICE_PRESENT,ITEM_WEIGHT_KG_PRESENT
0,29668,29668,29668,100.0,29668,100.0,29668,100.0,29668,29668

In [ ]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(product_id) AS product_id_present,
    COUNT(category) AS category_present,
    COUNT(subcategory) AS subcategory_present,
    COUNT(price) AS price_present,
    COUNT(cost_price) AS cost_price_present,
    COUNT(weight_kg) AS weight_kg_present,
    COUNT(length_cm) AS length_cm_present,
    COUNT(width_cm) AS width_cm_present,
    COUNT(height_cm) AS height_cm_present,
FROM sales_raw."03_PRODUCTS";
"""

df = pd.read_sql(query, conn)
display(df)

In [ ]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(customer_id) AS customer_id_present,
    ROUND(100.0 * COUNT(customer_id) / COUNT(*), 2) AS customer_id_pct,
    COUNT(customer_segment) AS customer_segment_present,
    COUNT(city) AS city_present,
    COUNT(region) AS region_present,
    COUNT(zip_code) AS zip_code_present,
FROM sales_raw."04_CUSTOMERS";
"""

df = pd.read_sql(query, conn)
display(df)

In [ ]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(seller_id) AS seller_id_present,
    COUNT(warehouse_location) AS warehouse_location_present,
    COUNT(city) AS city_present,
    COUNT(state) AS state_present,
FROM sales_raw."05_SELLERS";
"""

df = pd.read_sql(query, conn)
display(df)

In [ ]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(event_id) AS event_id_present,
    COUNT(order_id) AS order_id_present,
    COUNT(event_type) AS event_type_present,
    COUNT(event_timestamp) AS event_timestamp_present,
    COUNT(event_sequence) AS event_sequence_present,
FROM sales_raw."06_SHIPPING_LOGISTICS";
"""

df = pd.read_sql(query, conn)
display(df)

In [ ]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(return_id) AS return_id_present,
    COUNT(order_id) AS order_id_present,
    COUNT(order_item_id) AS order_item_id_present,
    COUNT(product_id) AS product_id_present,
    COUNT(customer_id) AS customer_id_present,

FROM sales_raw."07_RETURNS_CANCELLATIONS";
"""

df = pd.read_sql(query, conn)
display(df)

In [ ]:
query = """
SELECT
    COUNT(*) AS total_rows,

FROM sales_raw."08_CUSTOMER_REVIEWS";
"""

df = pd.read_sql(query, conn)
display(df)

In [ ]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(customer_id) AS customer_id_present,
    ROUND(100.0 * COUNT(customer_id) / COUNT(*), 2) AS customer_id_pct,
    COUNT(approval_date) AS approval_date_present,
    COUNT(shipped_date) AS shipped_date_present,
    COUNT(delivered_date) AS delivered_date_present,
    COUNT(estimated_delivery_date) AS est_delivery_present
FROM sales_raw."01_ORDERS";
"""

df = pd.read_sql(query, conn)
display(df)

In [ ]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(customer_id) AS customer_id_present,
    ROUND(100.0 * COUNT(customer_id) / COUNT(*), 2) AS customer_id_pct,
    COUNT(approval_date) AS approval_date_present,
    COUNT(shipped_date) AS shipped_date_present,
    COUNT(delivered_date) AS delivered_date_present,
    COUNT(estimated_delivery_date) AS est_delivery_present
FROM sales_raw."01_ORDERS";
"""

df = pd.read_sql(query, conn)
display(df)

In [ ]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(customer_id) AS customer_id_present,
    ROUND(100.0 * COUNT(customer_id) / COUNT(*), 2) AS customer_id_pct,
    COUNT(approval_date) AS approval_date_present,
    COUNT(shipped_date) AS shipped_date_present,
    COUNT(delivered_date) AS delivered_date_present,
    COUNT(estimated_delivery_date) AS est_delivery_present
FROM sales_raw."01_ORDERS";
"""

df = pd.read_sql(query, conn)
display(df)

In [ ]:
query = """
SELECT
    COUNT(*) AS total_rows,
    COUNT(customer_id) AS customer_id_present,
    ROUND(100.0 * COUNT(customer_id) / COUNT(*), 2) AS customer_id_pct,
    COUNT(approval_date) AS approval_date_present,
    COUNT(shipped_date) AS shipped_date_present,
    COUNT(delivered_date) AS delivered_date_present,
    COUNT(estimated_delivery_date) AS est_delivery_present
FROM sales_raw."01_ORDERS";
"""

df = pd.read_sql(query, conn)
display(df)

In [ ]:
conn.close()